<ion-tabs>
    <ion-tab-button href="/tabs/(one:buy-client)">
        <ion-icon name="navigate"></ion-icon>
        <ion-label>One</ion-label>
        <ion-router-outlet name="one"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button href="/tabs/(two:explore)">
        <ion-icon name="person"></ion-icon>
        <ion-label>Two</ion-label>
        <ion-router-outlet name="two"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button href="/tabs/(three:favorite)">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Three</ion-label>
        <ion-router-outlet name="three"></ion-router-outlet>
    </ion-tab-button>
</ion-tabs>
