<ion-content padding>
  <div style="margin: 100px 0 0 0;">

    <img src="assets/img/Logo.png" class="img-center">
    <p text-center>
      Conectando você ao seu estilo.
    </p>

    <h4 text-center>Agora, cofirme seu número, digite o código de 5 dígitos que você recebeu:</h4>
    <!-- Login form -->
    <form class="list-form">
      <ion-item>
         <ion-input type="text" maxlength="5"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>
<ion-footer padding>
  <ion-button expand="full" color="dark" tappable (click)="homeClient()">
    Cadastrar
  </ion-button>
</ion-footer>
