.trips {
  background-color: #ffffff;
  .text-title-height {
    color: #363636;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    line-height: 0;
  }
}

