
<ion-content>

<div class="position">
  <img src="assets/img/Logo.png" class="img-center">
  <p text-center>
    Conectando você ao seu estilo.
  </p>
</div>

</ion-content>
    <!--Login-->
    <ion-footer>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="dark" (click)="login()" expand="full">
                Entrar
              </ion-button>

            </ion-col>
<!--            <ion-col>-->
<!--              <ion-button color="dark" tappable (click)="registerUser()" expand="full">-->
<!--                Criar Conta-->
<!--              </ion-button>-->
<!--            </ion-col>-->
          </ion-row>
        </ion-grid>
    </ion-footer>


