.sc-ion-card-ios-h {
  --background: var(--ion-item-background, transparent);
  --color: var(--ion-color-step-600, #666);
  margin: 0 !important;
  border-radius: 8px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 14px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
  box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
}

.sc-ion-card-md-h {
  --background: var(--ion-item-background, transparent);
  --color: var(--ion-color-step-550, #737373);
  margin: 0;
  border-radius: 4px;
  font-size: 14px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.img-rounded {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
