<ion-header>
  <ion-toolbar>
    <ion-title>Camera</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-row>
    <ion-card>
      <div class="plr20">
        <h4>Camera</h4>
        <p>This example shows how you can take photo or upload file.</p>
        <p>It also shows the date/time taken and location (latitude and longitude)</p>
        <p>Note : Camera feature is available on mobile devices only.</p>

        <!--
        <input #inputcamera type="file" accept="image/*" capture="camera" />
        <input #inputcamera type="file" accept="image/*"  />
        <input #inputcamera type="file" />

        <label class="cameraButton">Take Photo
            <input (click) = "Camera()" style="display:none" #inputcamera type="file" accept="image/*" capture="camera"/>
        </label>
        -->
        <div class="p20 center">
          <label class="cameraButton">Photo/Upload File
            <input (click)="File()" style="display:none" #inputfile type="file" accept="image/*" />
          </label>
        </div>
      </div>

    </ion-card>

    <ion-card *ngIf="displayCard();">

      <img #imgresult [src]="img" />
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Date</ion-col>
            <ion-col>{{today | date:'medium'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Latitude</ion-col>
            <ion-col>{{latitude}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Longitude</ion-col>
            <ion-col>{{longitude}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>