<ion-content padding>
  <div style="margin: 100px 0 0 0;">

    <img src="assets/img/Logo.png" class="img-center">
    <p text-center>
      Conectando você ao seu estilo.
    </p>

    <h4 text-center>Cadastro</h4>
    <!-- Login form -->
    <form class="list-form">
         <ion-item>
        <ion-label position="floating">
          <ion-icon name="person" class="text-primary"></ion-icon>
         Email:
        </ion-label>
        <ion-input type="text" placeholder="Seu Nome" [(ngModel)]="userRegister.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock" class="text-primary"></ion-icon>
          Senha:
        </ion-label>
        <ion-input type="password" [(ngModel)]="userRegister.password" name="password"></ion-input>
      </ion-item>
      <ion-button expand="full" color="dark" tappable (click)="confirmCellphone()">
        Cadastrar
      </ion-button>
<!--      <ion-item>-->
<!--        <ion-label position="floating">-->
<!--          <ion-icon name="lock" class="text-primary"></ion-icon>-->
<!--          Repita a senha:-->
<!--        </ion-label>-->
<!--        <ion-input type="password" [(ngModel)]="userRegister.confpassword"></ion-input>-->
<!--      </ion-item>-->
    </form>
  </div>
</ion-content>
<!--<ion-footer padding>-->
<!--  <ion-button expand="full" color="dark" tappable (click)="confirmCellphone()">-->
<!--    Cadastrar-->
<!--  </ion-button>-->
<!--</ion-footer>-->
